{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <h1>Using JS</h1>
    <div id="display-info"></div>
    <script>
        fetch("static/info.json").then(response => {
            return response.json()
        }).then(result => {
            console.log(result)
            document.querySelector("#display-info").innerHTML =
            `
            <table>
            <tr>
                <th>Name</th>
                <th>Cash</th>
            </tr>
            <tr>
                <td>${result["username"]}</td>
                <td>${result["cash"]}</td>
            </tr>
            </table>
            `
        })
    </script>
{% endblock %}