{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <h1>Portfolio</h1>
    <div>
        <table id="display-info">
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price (USD)</th>
                <th>TOTAL</th>
            </tr>
            <script>
                let sum = cash              //will store: portoflio value + cash
                for (let holdings of portfolio) {  //iterate over the objects in the portfolio provided by static/info.js
                    sum += holdings["TOTAL"]
                    document.getElementById("display-info").innerHTML +=    //create a table row for each object
                    `
                    <tr>
                        <td>${holdings["symbol"]}</td>
                        <td>${holdings["name"]}</td>
                        <td>${holdings["shares"]}</td>
                        <td>$${holdings["price"]}</td>
                        <td>$${holdings["TOTAL"]}</td>
                    </tr>
                    `
                }
                //create 2 more rows for cash and total portoflio value
                document.getElementById("display-info").innerHTML +=  
                `
                <tr>
                    <td>CASH</td>
                    <td></td><td></td><td></td>
                    <td>$${cash}</td>
                </tr>
                <tr>
                    <td></td><td></td><td></td><td></td>
                    <td>$${sum.toFixed(2)}</td>
                </tr>
                `
            </script>
        </table>
    </div>
{% endblock %}