{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="form-group">
            <select name="stocks" id="options">
                <option disabled selected value="">Select</option>
                <script>
                    for (let holdings of portfolio) {
                        document.getElementById("options").innerHTML +=
                        `
                        <option value="${holdings["symbol"]}">${holdings["symbol"]}</option>
                        `
                    }
                </script>
            </select>
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="shares" placeholder="Units" type="number">
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}